RewriteEngine On

RewriteRule ^accueil$ accueil.php
RewriteRule ^.{0}$ index.php
RewriteRule ^comptes$ view/compte/liste.php
RewriteRule ^clients$ view/client/liste.php

RewriteRule ^compteController$ controller/compteController.php
RewriteRule ^clientController$ controller/clientController.php



